.login{
    height: 100vh;

    h4{
        color:#0062CB;
    }
}
.imagen{
    background-image: url(../../images/auth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.form-label{
    font-size: 12px;
    margin-bottom: 2px;
}