

//footer
.footer{
    width: 100%;
    height: 330px;
    background-color: #0C0E0F;

    h3,h1{
        color:#e1e1e1;
    }
    h3{
        font-family: 'Open Sans Condensed', sans-serif;
    }
    h6{
        color:grey;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: lighter;
        font-size: 18px;
    }
}